<div class="bg-dark box-style d-none flagscontainer">
    <img src="assets/img/ca_flag.png" class="flag_translate mr-3" [ngClass]="{'active': activeLang == 'ca'}"
      (click)="cambiarLenguaje('ca')">
    <img src="assets/img/es_flag.png" class="flag_translate mr-3" [ngClass]="{'active': activeLang == 'es'}"
      (click)="cambiarLenguaje('es')">
    <img src="assets/img/en_flag.png" class="flag_translate mr-3" [ngClass]="{'active': activeLang == 'en'}"
      (click)="cambiarLenguaje('en')">
</div>