<div class="row mt-5 mb-5" style="margin-right:0px !important;margin-left:0px !important;">
  <div class="col-md-6" style="padding:0px !important">
    <img class="w-100 h-100" src="assets/img/aboutus.jpg" alt="">
  </div>

  <div style="background:#F8F9FA;color:#212529;" class="col-md-6 p-5">
    <div>
      <h1 class="mb-3">{{'sobre_nosotros.texto' | translate }}</h1>
      <hr class="mt-4 mb-4">
      <p>{{'bloque_aboutus_1.texto' | translate }}</p>
      <p>{{'bloque_aboutus_2.texto' | translate }}</p>
      <p>{{'bloque_aboutus_3.texto' | translate }}</p>
      <p>{{'bloque_aboutus_4.texto' | translate }}</p>
    </div>

  </div>
</div>