<div class="w-100 bg-light">
  <div class="container p-5">
    <h5 style="text-align:center">{{'compre_ahora.texto' | translate}}</h5>
  </div>
</div>

<div class="w-100 container">
  <div class="pb-5">
    <h2 class="justify-content-center d-flex pt-5">{{'categorias_principales.texto' | translate | uppercase }}</h2>
    <hr class="mb-4 mt-4">
    <div class="row col-md-12 d-flex justify-content-around" style="margin:0px !important;">

      <div class="cat-home p-2 col-md-4">
        <h5><b>{{category1.name}}</b></h5>
        <div class="row">
          <div class="col-md-8">
            {{category1.description}}
          </div>
          <div class="col-md-4">
            <img style="margin-left:-20px;width:100px" src="{{category1.image}}" alt="{{category1.name}}">
          </div>
        </div>
      </div>

      <div class="cat-home p-2 col-md-4">
        <h5><b>{{category2.name}}</b></h5>
        <div class="row">
          <div class="col-md-8">
            {{category2.description}}
          </div>
          <div class="col-md-4">
            <img style="margin-left:-20px;width:100px" src="{{category2.image}}" alt="{{category2.name}}">
          </div>
        </div>
      </div>

      <div class="cat-home p-2 col-md-4">
        <h5><b>{{category3.name}}</b></h5>
        <div class="row">
          <div class="col-md-8">
            {{category3.description}}
          </div>
          <div class="col-md-4">
            <img style="margin-left:-20px;width:100px" src="{{category3.image}}" alt="{{category3.name}}">
          </div>
        </div>
      </div>

      <div class="cat-home mt-3 p-2 col-md-4">
        <h5><b>{{category4.name}}</b></h5>
        <div class="row">
          <div class="col-md-8">
            {{category4.description}}
          </div>
          <div class="col-md-4">
            <img style="margin-left:-20px;width:100px" src="{{category4.image}}" alt="{{category4.name}}">
          </div>
        </div>
      </div>

      <div class="cat-home mt-3 p-2 col-md-4">
        <h5><b>{{category5.name}}</b></h5>
        <div class="row">
          <div class="col-md-8">
            {{category5.description}}
          </div>
          <div class="col-md-4">
            <img style="margin-left:-20px;width:100px" src="{{category5.image}}" alt="{{category5.name}}">
          </div>
        </div>
      </div>

      <div class="cat-home mt-3 p-2 col-md-4">
        <h5><b>{{category6.name}}</b></h5>
        <div class="row">
          <div class="col-md-8">
            {{category6.description}}
          </div>
          <div class="col-md-4">
            <img style="margin-left:-20px;width:100px" src="{{category6.image}}" alt="{{category6.name}}">
          </div>
        </div>
      </div>


    </div>

  </div>
</div>


<div class="bg-light">
  <div class="container pb-4">
    <h2 class="justify-content-center d-flex pt-5">{{'nuestro_potencial.texto' | translate | uppercase }}</h2>
    <hr class="mb-4 mt-4">
    <div class="row col-md-12 d-flex justify-content-around" style="margin:0px !important;">

      <div class="col-md-6" id="prod-home-1" style="padding:0px">
        <ul>
          <h4><i style="color:#E43C40"
              class="mb-2 fas fa-check-circle"></i>&nbsp;&nbsp;{{'listmain1.texto' | translate}}</h4>
          <h4><i style="color:#E43C40"
              class="mb-2 fas fa-check-circle"></i>&nbsp;&nbsp;{{'listmain2.texto' | translate}}</h4>
          <h4><i style="color:#E43C40"
              class="mb-2 fas fa-check-circle"></i>&nbsp;&nbsp;{{'listmain3.texto' | translate}}</h4>
          <h4><i style="color:#E43C40"
              class="mb-2 fas fa-check-circle"></i>&nbsp;&nbsp;{{'listmain4.texto' | translate}}</h4>
          <h4><i style="color:#E43C40"
              class="mb-2 fas fa-check-circle"></i>&nbsp;&nbsp;{{'listmain5.texto' | translate}}</h4>
        </ul>
      </div>

      <div class="col-md-6" id="prod-home-2" style="padding:0px">
        <ul>
          <h4><i style="color:#E43C40"
              class="mb-2 fas fa-check-circle"></i>&nbsp;&nbsp;{{'listmain6.texto' | translate}}</h4>
          <h4><i style="color:#E43C40"
              class="mb-2 fas fa-check-circle"></i>&nbsp;&nbsp;{{'listmain7.texto' | translate}}</h4>
          <h4><i style="color:#E43C40"
              class="mb-2 fas fa-check-circle"></i>&nbsp;&nbsp;{{'listmain8.texto' | translate}}</h4>
          <h4><i style="color:#E43C40"
              class="mb-2 fas fa-check-circle"></i>&nbsp;&nbsp;{{'listmain9.texto' | translate}}</h4>
          <h4><i style="color:#E43C40"
              class="mb-2 fas fa-check-circle"></i>&nbsp;&nbsp;{{'listmain10.texto' | translate}}</h4>
        </ul>
      </div>

    </div>

  </div>
</div>