<div class="container mb-5 mt-5">
  <h3>POLÍTICA DE COOKIES</h3>
  <p>En esta sección encontraras la información sobre las cookies que se pueden enviar o generar al usar este servicio,
    así como su uso y finalidad.</p>
  <p>Este servicio web, como la mayoría de los sitios en Internet, usa Cookies para mejorar y optimizar la experiencia
    del usuario. A continuación encontrarás información detallada sobre qué son las “Cookies”, qué tipología utiliza
    este sitio web, cómo puedes desactivarlas en tu navegador y cómo bloquear específicamente la instalación de Cookies
    de terceros.</p>
  <p><strong>¿Qué son las Cookies y cómo las utiliza este sitio web?</strong></p>
  <p>Las Cookies son archivos que el sitio web o la aplicación que utilizas instala en tu navegador o en tu dispositivo
    (smartphone, tableta o televisión conectada) durante tu recorrido por las páginas o por la aplicación, y sirven para
    almacenar información sobre tu visita. Como la mayoría de los sitios en internet, esta web utiliza Cookies para:</p>
  <p>– Asegurar que las páginas web pueden funcionar correctamente<br />
    – Almacenar tus preferencias, como el idioma que has seleccionado o el tamaño de letra.<br />
    – Conocer tu experiencia de navegación.<br />
    – Recopilar información estadística anónima, como qué páginas has visto o cuánto tiempo has estado en nuestros
    medios.<br />
    – El uso de Cookies nos permite optimizar tu navegación, adaptando la información y los servicios ofrecidos a tus
    intereses, para proporcionarte una mejor experiencia siempre que nos visites.</p>
  <p>Este sitio utiliza Cookies para funcionar, adaptar y facilitar al máximo la navegación del Usuario.</p>
  <p>Las Cookies se asocian únicamente a un usuario anónimo y su ordenador/dispositivo y no proporcionan referencias que
    permitan conocer datos personales. En todo momento podrás acceder a la configuración de tu navegador para modificar
    y/o bloquear la instalación de las Cookies enviadas, sin que ello impida al acceso a los contenidos. Sin embargo, la
    calidad del funcionamiento de los Servicios puede verse afectada.</p>
  <p>Los Usuarios que completen el proceso de registro o hayan iniciado sesión con sus datos de acceso podrán acceder a
    servicios personalizados y adaptados a sus preferencias según la información personal suministrada en el momento del
    registro y la almacenada en la Cookie de su navegador.</p>
  <p><strong>¿Cual es su importancia</strong><strong>?</strong></p>
  <p>– Desde un punto de vista técnico, permiten que los sitios web funcionen de forma más ágil y adaptada a las
    preferencias de los usuarios, como por ejemplo almacenar el idioma, la moneda del país o detectar el dispositivo de
    acceso.<br />
    – Establecen niveles de protección y seguridad que Impiden o dificultan ciberataques contra el sitio web o sus
    usuarios.<br />
    – Permiten que los gestores de los medios puedan conocer datos estadísticos recopilados en las Cookies para mejorar
    la calidad y experiencia de sus servicios.<br />
    – Sirven para optimizar la publicidad que mostramos a los usuarios, ofreciendo la que más se ajusta a sus intereses.
  </p>
  <p><strong>¿Cuáles son los diferentes tipos de Cookies que utiliza este servicio?</strong></p>
  <p>– Las de sesión expiran cuando el Usuario abandona la página o cierra el navegador, es decir, están activas
    mientras dura la visita al sitio web y por tanto son borradas de nuestro ordenador al abandonarlo.</p>
  <p>– Las permanentes expiran cuando se cumple el objetivo para el que sirven o bien cuando se borran manualmente,
    tienen fecha de borrado y se utilizan normalmente en proceso de compra online, personalizaciones o en el registro,
    para no tener que introducir nuestra contraseña constantemente.</p>
  <p>Por otro lado, según quien sea la entidad que gestione el equipo o dominio desde donde se envían las cookies y
    trate los datos que se obtengan, podemos distinguir entre Cookies propias y de terceros.</p>
  <p>– Las Cookies propias son aquellas Cookies que son enviadas a tu ordenador y gestionadas exclusivamente por
    nosotros para el mejor funcionamiento del Sitio Web. La información que recabamos se emplea para mejorar la calidad
    de nuestro servicio y tu experiencia como usuario.</p>
  <p>– Si interactúas con el contenido de nuestro Sitio Web también pueden establecerse cookies de terceros (por
    ejemplo, al pulsar botones de redes sociales o visionar vídeos alojados en otro sitio web), que son aquellas
    establecidas por un dominio diferente de nuestro Sitio Web. No podemos acceder a los datos almacenados en las
    cookies de otros sitios web cuando navegues en los citados sitios web.</p>
  <p>Navegar por este servicio supone que se puedan instalar los siguientes tipos de Cookies:</p>
  <h4>1. Cookies propias</h4>
  <p><strong>– Cookies de rendimiento:</strong><br />
    Estas cookies se utilizan para mejorar tu experiencia de navegación y optimizar el funcionamiento de nuestros sitios
    web. Almacenan configuraciones de servicios para que no tengas que reconfigurarlos cada vez que nos visitas.</p>
  <p>Ejemplos de uso: Recordar el tipo de acceso (versión Móvil o versión Web), Recordar elementos desplegados, Recordar
    últimos contenidos visitados, etc.</p>
  <p><strong>– Cookies de Geolocalización:</strong><br />
    Estas cookies se utilizan para almacenar datos de geolocalización del ordenador o dispositivo para ofrecer
    contenidos y servicios más adecuados.</p>
  <p>Ejemplos de uso: contenidos según el país de acceso.</p>
  <p><strong>– Cookies Analíticas:</strong><br />
    Estas cookies sirven para recopilar información anónima de acceso y experiencia de navegación, por ejemplo el tiempo
    total de navegación, las páginas visitadas, etc.</p>
  <p>Ejemplos de uso: Contabilizar el número total de visitantes, sabes si el usuario es nuevo o ya ha visitados la web
    anteriormente.</p>
  <p>&nbsp;</p>
  <h4>2. Cookies de terceros</h4>
      – Cookies Analíticas (2.1 Google Analytics)<br />
      – Cookies de Redes Sociales y otros servicios integrados: en algunas páginas existe la posibilidad de insertar
      contenidos de terceros, compartir o interactuar con redes sociales. En estos casos los servicios de terceros
      utilizan cookies para ofrecer el servicio.cookies para ofrecer el servicio.
      <p>Actualmente las redes sociales y servicios integrados de terceros así como sus respectivas políticas de
        privacidad (enlazadas) son: <strong><a href="http://www.google.com/intl/es/policies/faq/">Google+</a>, <a
            href="https://twitter.com/privacy">Twitter</a>, <a
            href="https://www.facebook.com/about/privacy/your-info-on-other">Facebook</a>, <a
            href="http://www.google.es/intl/es/policies/privacy/">YouTube</a><br />
        </strong></p>
      <p>2.1 Información sobre cookies: <strong>Google Analytics</strong>.</p>
      <p>Esta página web utiliza Google Analytics, un servicio analítico de web prestado por Google, Inc., una compañía
        de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043,
        Estados Unidos (“Google”). Google Analytics utiliza “cookies”, que son archivos de texto ubicados en su
        ordenador, para ayudar al website a analizar el uso que hacen los usuarios del sitio web. La información que
        genera la cookie acerca de su uso del website (incluyendo su dirección IP) será directamente transmitida y
        archivada por Google en los servidores de Estados Unidos. Google usará esta información por cuenta nuestra con
        el propósito de seguir la pista de su uso del website, recopilando informes de la actividad del website y
        prestando otros servicios relacionados con la actividad del website y el uso de Internet. Google podrá
        transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos terceros
        procesen la información por cuenta de Google. Google no asociará su dirección IP con ningún otro dato del que
        disponga Google. Puede Usted rechazar el tratamiento de los datos o la información rechazando el uso de cookies
        mediante la selección de la configuración apropiada de su navegador, sin embargo, debe Usted saber que si lo
        hace puede ser que no pueda usar la plena funcionabilidad de este website. Al utilizar este website Usted
        consiente el tratamiento de información acerca de Usted por Google en la forma y para los fines arriba
        indicados.</p>
      <p><a href="http://www.google.es/intl/es/analytics/privacyoverview.html">Política de privacidad de Google
          Analytics</a></p>
      <p>&nbsp;</p>
      <p><strong>Desactivar el uso de cookies desde el navegador</strong></p>
      <p>Puedes desactivar el uso de cookies mediante los controles disponibles en el navegador. En las siguientes
        paginas se encuentran las instrucciones para hacerlo según el tipo de navegador utilizado:</p>
      <a href="https://support.google.com/chrome/answer/95647?hl=es">Google Chrome</a><br />
      <a
        href="http://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences?redirectlocale=en-US&amp;redirectslug=Enabling+and+disabling+cookies">Firefox</a><br />
      <a href="http://support.microsoft.com/kb/278835">Microsoft Internet Explorer</a><br />
      <a href="http://support.apple.com/kb/PH11913">Safari para Mac</a><br />
      <a href="http://support.apple.com/kb/HT1677?viewlocale=en_US&amp;locale=en_US">Safari para iOS (iPad, iPhone, iPod
        touch)</a><br />
      <a href="http://www.wikihow.com/Disable-Cookies#Android_Devices">Android</a><br />
      <a href="http://www.opera.com/help/tutorials/security/privacy/">Opera</a><br />
      <a
        href="http://docs.blackberry.com/en/smartphone_users/deliverables/32004/Turn_off_cookies_in_the_browser_60_1072866_11.jsp">Blackberry</a>
      <p>Otros navegadores: <a href="http://www.wikihow.com/Disable-Cookies">http://www.wikihow.com/Disable-Cookies</a>
      </p>
      <p>Si se opta por desactivar el uso de cookies, algunas de las funciones del servicio no estaran disponibles, no
        tendrán plena funcionalidad o no se ejecutaran como se espera (Por ejemplo: funciones de registro, inicio de
        sesión, personalización de formatos, uso de redes sociales, opción de recordar tipo de acceso móvil o web, etc).
      </p>
</div>