<ngx-paypal id="paypalPaymentMethods" [config]="payPalConfig"></ngx-paypal>
<a href="{{lang}}/guest-address">
    <div class="d-none" id="para_completar_envio" style="color:#FFF; background: #e73c41;
padding: 10px;
border-radius: 6px;">
        {{'para_completar_pedido.texto' | translate}}
    </div>
</a>

<!-- <hr>
<table>
    <td>
        <input type="checkbox" id="check_direccion_alt" />
    </td>
    <td style="text-align: center">
        {{'enviar_direccion_alternativa.texto' | translate}}
    </td>
</table> -->