<div class="mt-5 mb-5 container">
  <h3>Datos identificativos de la web</h3>

  <p>Nombre comercial: {{nombre_comercial_lopd}}</p>
  <p>Nombre fiscal: {{nombre_fiscal_lopd}}</p>
  <p>Tel: {{telefono_lopd}}</p>
  <p>NIF: {{nif_lopd}}</p>
  <p>Domicilio Social: {{domicilio_lopd}}</p>
  <p>Email: {{email_lopd}}</p>

  <h3>Propiedad Intelectual</h3>

  <p>Todos los nombres comerciales, marcas o signos distintos de cualquier clase en los sitios web de {{sitio_web_lopd}}
    son propiedad de sus respectivos dueños y están protegidos por ley.</p>

  <h3>Términos y Condiciones</h3>

  <p>El acceso al sitio web es de responsabilidad exclusiva de cada visitante. Su acceso e navegación suponen aceptar e
    conocer las advertencias legales, condiciones y términos de uso que incluyen.<br><br>

    Así mismo se informa que el presente espacio web utiliza “cookies”, que son archivos de texto ubicados en su
    ordenador con la finalidad de ayudar este espacio web a analizar el uso que realizan sus usuarios. En ninguna
    circunstancia estas “cookies” proporcionan información personal sobre la persona que visita, estas solo se utilizan
    única y exclusivamente para recopilar información estadística.<br><br>

    Por otro lado, el usuario tiene la posibilidad de configurar su navegador de manera que impida la instalación de
    estos archivos, con su correspondiente consecuencia a posible mal funcionamiento de este espacio web.</p>

  <h3>Protección de datos</h3>

  <p>Información Básica de Protección de Datos. Responsable: {{nombre_fiscal_lopd}}; Finalidad: prestarle los servicios
    que nos ha solicitado, atender sus solicitudes de información y enviarle comunicaciones comerciales; Legitimación:
    Ejecución de contrato, Interés legítimo del responsable o Consentimiento del Interesado. Cesiones: No se cederán sus
    datos a terceros salvo obligación legal. Derechos: Tiene derecho a acceder, rectificar y suprimir los datos, así
    como otros derechos, indicados en la información adicional, que puede ejercer dirigiéndose al correo {{email_lopd}}.
    Información adicional: Puede consultar información adicional y detallada sobre Protección de Datos en
    {{sitio_web_lopd}}.<br><br>

    Este mensaje y sus archivos adjuntos van dirigidos exclusivamente a su destinatario, pudiendo contener información
    confidencial sometida a secreto profesional. No está permitida su reproducción o distribución sin nuestra
    autorización expresa. Si usted no es el destinatario final por favor elimínelo e infórmenos por esta vía.</p>
</div>