<div class="container mb-5 mt-5">
  <h3>POLÍTICA DE ENTREGAS</h3>
  <p>En esta sección encontraras la información sobre las políticas de entrega.</p>
  <p>- Los productos se entregarán en un plazo de 48 horas.</p>
  <p>- En caso de que haya cualquier retraso, tiene que haber una razón de peso para contrarestar.</p>
  <p>- Si el producto llega dañado o defectuoso, el cliente tiene derecho a reclamar y a obtener otro dentro de un plazo de hasta 3 días.</p>
  <br>
  <h3>POLÍTICA DE DEVOLUCIONES</h3>
<p>En caso de disconformidad por cualquier causa con el producto recibido, el usuario tiene un plazo de 14 días naturales a contar
  desde la fecha de entrega del pedido, para devolverlo (derecho de desistimiento).
  Para realizar la devolución de un pedido, éste deberá encontrarse en perfectas condiciones e ir acompañado de la factura de
  compra.</p>
<p>Los artículos consumibles deberán estar sin usar.</p>
<p>Es muy importante que los productos devueltos estén perfectamente embalados. En caso de que los productos resulten dañados
  debido a un embalaje inapropiado, la devolución no será admitida.</p>
<p>En toda devolución, se abonará el valor del pedido excepto los gastos de devolución y servicios asociados. En el caso
  de productos defectuosos o envíos erróneos, todos los gastos correrán a nuestro cargo.</p>
<p>No se aceptará ninguna devolución que no cumpla las condiciones anteriormente expuestas.
  Procedimiento de devolución de un pedido:</p>
<p>- PASO 1<br>
  El usuario deberá contactar con el Centro de Atención al Usuario al mail info@mimspare.cat y comunicar los artículos que desea
  devolver.</p>
<p>- PASO 2<br>
  Recogida del producto. En el caso de tratarse de una devolución debida a errores de envío u otras causas imputables a nosotros,
  la recogida se realizará sin coste alguno para el cliente. En el resto de casos, el cliente asumirá los gastos de devolución.</p>
<p>- PASO 3<br>
  Una vez recibido el material en perfectas condiciones en nuestro almacén, en su embalaje original se gestionará el abono del
  producto. Si el pago se ha realizado mediante tarjeta de crédito, el abono será en la misma forma de pago, mediante tarjeta de
  crédito. El pago será abonado en un plazo máximo de 14 días a partir de la fecha de solicitud de devolución, siempre que la
  mercancía sea devuelta dentro de dicho plazo.</p>

</div>