.fa-plus-square, .fa-minus-square{
    color:white;
    cursor:pointer;
    z-index:98;
    overflow:hidden;
    text-shadow: 2px 2px grey;
}

.fa-minus-square{
    margin-top:-5px;  
}

.btn-danger{
  color: #FFF !important;
}

.cantidad{
    color: #272529;
    font-size: 50px;
    display: inline-block;
}

#btnver, #btncarro{
    z-index:98;
}

.card-img-overlay{
    height: 200px;
}

.tobottom{
    margin-top:75px;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #ffc107;
}

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    z-index: 99;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  .circle{
    border-radius: 50%;
    width: 90px;
    height: 75px;
    background: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
  }

  .card-img-top{
    height: 200px !important;
    width: 300px  !important;
    object-fit: cover;
  }

  #btnver:hover{
    cursor:pointer;
  }