.div-foto{
    padding:0px !important;
}

.row{
    margin-right: 0px!important;
    margin-left: 0px!important;
}

.div-foto:hover{
    cursor: pointer;
}

.pt-6{
    padding-top: 6%;
}

img {
    display: table;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }
